<div class="container">

	<h2> Log in: </h2>

	<div>
    <div class="row">
    	<%= form_for @user, {url:"/authentications", method:"post"} do |usr| %>
      <div class="large-4 columns">
      	<%= usr.label :email, "Email", placeholder: "email" %>
		<%= usr.text_field :email %>
      </div>

      <div class="large-4 columns">
      <%= usr.label :password, "Password", placeholder: "password" %>
	  <%= usr.text_field :password %>
	  </div>
	  </br>

	  <%= usr.submit "Log In", class: "button [tiny small large]" %>

	  <%end%>
	  </div>
	  </div>