<div>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>

    <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.text_field :password_confirmation %>
  </div>

 
  
  <%# Category.all.each do |category| %>
    <%= collection_check_boxes(:user, :category_sizes, CategorySize.all, :id, :size_and_cat_name) %>
  <%# end %>

  <%#= f.fields_for :category_sizes, CategorySize.all do |cs| %>
    <%#= cs.label cs.object.size_and_cat_name %>
    <%#= cs.check_box :id %>
  <%# end %>
  


    
</div>
<%= f.submit %>
<% end %>

<hr>

<div>
  <%#= form_for @category_size do |f| %>
  <%# f.collection_select 'category_sizes_id', CategorySize.all, :id,  %>
  <%# end %>

</div>

<br/>
  <%# form_for @category_size, url: {controller: 'users', action: 'category_sizes' } do |f| %>
      <%# @category_sizes.each do |cat| %>
        <%# f.radio_button :id, cat.id %>
        <%# f.label "#{cat.category.name} | #{cat.size.name}" %>
      <%# end %>
        <%# f.submit %>
  <%# end %>
</div>