<div class = "container">

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="row">
      <div class="large-8 columns">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
      </div>

      <div class="large-8 columns">
      <%= f.label :password %><br>
      <%= f.text_field :password %>
      </div>

      <div class="large-8 columns">
      <%= f.label :password_confirmation %><br>
      <%= f.text_field :password_confirmation %>
      </div>

      <div class="large-8 columns">
      </div>
    </div>

    </br>

    <div class="collection_div">
        <%= collection_check_boxes(:user, :category_sizes, CategorySize.all, :id, :size_and_cat_name) do |b| %>
          <div>
          <%= b.check_box(class: "inline") %>
          <%= b.label(class: "inline") %>
          </div>
          <% end %>
      </div>
      </br>

      <%= f.submit nil, class: "button [tiny small large]" %>
      <% end %>
    </div>
  </form>
  

  