<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>

    <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.text_field :password_confirmation %>
  </div>


<!-- MODEL
accepts_nested_attributes_for :category_sizes



Form_for Fields_for  (categorysizes - radio buttons for each)

c.radio_button -->


<%# form_for @user, url: {action: "create"} do |person_form| %>
  <%# fields_for @categories.contact_detail do |c| %>

    <%# contact_details_form.text_field :phone_number %>
  <%# end %>
<%# end %>


<!--   <div class="field">
    <%# f.label :salt %><br>
    <%# f.text_field :salt %>
  </div> -->



  <div class="CategorySize">
    <ul>
      <%#  @categories.each do |c| %>

<%# form_for(@user), url: {action: "create"} do |person_form| %>
  <%= f.fields_for :category_sizes do |c| %>
    <br>

    <% if @categories.count != 0 %>
      <li><%= c.name %><br />
        <% @categories.each do |s| %>
          <%= c.radio_button_tag 'catsize'+c.id.to_s, s.id, CategorySize.where(category_id:c.id, size_id:s.id)[0].users.include?(@user) %><%= s.name %>
        <% end %>
      </li>
    <% end %>
  <% end %>
  <%# end %>
  </ul>
  </div>

  <%= @dude %>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>