<h1>Results</h1>




<%= collection_select(:user, :category, @dropdowncategories, :category_size_id, :name, {:prompt => "Choose a Category"}, {:selected => params[:id]}) %>








<!-- HOW DO YOU HANDLE THE CHANGE EVENT FROM COLLECTION SELECT USING JQUERY -->


<div id="container">


<% if @shopresult  %>

<p>
<% @shopresult['products'].each do |x|  %>
<p>


<br/>

 <a href="<%= x['clickUrl'] %>"><%= image_tag x['image']['sizes']['IPhone']['url']  %></a>

</br>
  <a href="<%= x['clickUrl'] %>"><%= x['name'] %></a>
</br>

  <a href="<%= x['clickUrl'] %>">$<%= x['price'] %></a>


</p>

<% end %>
<% end %>




</div>



