<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Hashed password:</strong>
  <%= @user.hashed_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @user.salt %>
</p>

<h3>User's Category-Size Setting:</h3>
<p> <%= @user.category_sizes.to_a %></p>


<% @user.category_sizes.each do |c| %>
	
	<p><%= c.category.name %> | <%= c.size.name %></p>

<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
