<%= form_for(@category_size) do |f| %>
  <% if @category_size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category_size.errors.count, "error") %> prohibited this category_size from being saved:</h2>

      <ul>
      <% @category_size.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
