<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @category_size.category %>
</p>

<p>
  <strong>Size:</strong>
  <%= @category_size.size %>
</p>

<%= link_to 'Edit', edit_category_size_path(@category_size) %> |
<%= link_to 'Back', category_sizes_path %>
