<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>



  <nav> 

    <ul class="nav nav-tabs">
      <!-- <li class="/"><a href="#">Home</a></li> -->
      

      <% if !current_user %>
      <!-- <li><a href="/">Home</a></li> -->
    <li><a href="/authentications/new">Login</a></li>
    <li><a href="/users/new">Join</a></li>
    <% end %>

      <% if current_user %>
      <li><a href="/users/<%=current_user.id %>/edit">Settings</a></li>
      <!-- <li><a href="users/<%#current_user.id %>/users/show">New</a></li> -->
      <!-- <li><%# link_to "New Triggers", new_user_trigger_url(current_user) %></li> -->
<!--      <li><a href="../../users/<%# current_user.id %>/triggers/new">New</a></li> -->
      <li><a href="/users/results">Results</a></li>

        <li><%= link_to "Logout", "/authentications/:id", method: "delete" %></li>
    <!-- <li><%# link_to "Logout", "/authentications/:id", method: "delete" %></li> -->

    <% end %>

  </ul>


    <%= yield %>

    <br/>

    User id: <%= current_user.id if current_user %>
     <br/>
     Email: <%= current_user.email if current_user%>
     <br/>
   
  

    <%= javascript_include_tag "application" %>


  </body>
</html>
